# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# System files (сміття від Windows та Mac)
.DS_Store
Thumbs.db

# Logs
*.log

# Ігноруємо великі архіви та текстові бази даних
household_power_consumption.txt
power_consumption.zip
vhi_data/
work.py