
# System files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Build folders
bin/
build/
dist/

# Logs
*.log
*.tmp

# Data (from previous labs)
lab2/*.txt
lab2/*.zip
vhi_data/

#lab6
build/
CMakeFiles/
CMakeCache.txt
Makefile
*.o


# System files


і# System files

.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Virtual environments

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment

venv/
env/
.venv/


# Build folders
bin/
build/
dist/

# Logs
*.log
*.tmp


# Data (from previous labs)


# Data from previous labs

lab2/*.txt
lab2/*.zip
vhi_data/

# Data files (large / generated)
*.csv
*.json
*.xml
*.dat
*.txt
*.zip
*.data


# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# System files (сміття від Windows та Mac)
.DS_Store
Thumbs.db

# Logs
*.log

# Ігноруємо великі архіви та текстові бази даних
household_power_consumption.txt
power_consumption.zip
vhi_data/
work.py


